
:root{
    --Primario: #85BDA6;
    --Secundario: #3E885B;
    --Tercero: #2F4B26;
    --Cuarto: #BEDCFE;
    --Quinto: #C0D7BB;
}

body{
    margin: 0;
}

.formu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: var(--Quinto);
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }

  .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    align-items: center;
    align-content: center;
    width: 50rem;
}

  .title {
    font-size: 28px;
    color: var(--Tercero);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--Tercero);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: var(--Tercero);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: var(--Tercero);
    text-decoration: none;
  }
  
  .signin a:hover {
    text-decoration: underline var(--Secundario);
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .formu label {
    position: relative;
  }
  
  .formu label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .formu label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .formu label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .formu label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .formu label .input:valid + span {
    color: var(--Secundario);
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: var(--Tercero);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: var(--Secundario);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }